@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

body *{
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 29.4%;
}

.left-login{
    background-color: #000815;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login h1{
    color: white;
}

.rigth-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #001029;
    border-radius: 40px;
}

.card-login h1{
    color: white;
    margin: 0;
    padding: 12px;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.textfield input{
    width: 100%;
    border: none;
    border-radius: 7px;
    padding: 15px;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield label{
    color: white;
    margin-bottom: 10px;
}

.btn-login{
    width: 85%;
    padding: 16px 0px;
    margin: 25px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.btn-login:hover{
    background-color: #0040a8;
    color: white;
    transition: all .3s;
}

@media only screen and (max-device-width: 950px) {
    /* .menu { width:100%; } */
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-device-width: 600px) {
    /* .menu { width:100%; } */
    .main-login{
        flex-direction: column;
    }

    .left-login img{
        width: 359px;
        height: 142px;
        margin: 0;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .card-login{
        width: 90%;
    }
}