@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

body *{
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    background-color: #000815;
    width: 56vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: -22.4%;
}

.left-login img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-login{
    background-color: transparent;
    margin-left: 175px;
}
.card-login{
    width: 130%;
    padding: 30px 35px;
    background-color: #001f519d;
    border-radius: 25px;
    margin: 0;
}

.card-login h1{
    color: white;
    margin: 0;
    text-align: center;
    padding: 5%;
    font-size: 35pt;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.textfield input{
    width: 100%;
    border: none;
    padding: 15px;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: transparent;
    border-bottom: 1px solid #e1e1e1;
    color: white;
}

.textfield label{
    color: white;
    font-size: 15pt;
    margin-top: 15px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.btn-login{
    width: 91%;
    margin: 10px;
    padding: 16px 0px;
    cursor: pointer;
    border-radius: 10px;
    color: #ffffff;
    font-size: 12pt;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: 1px solid white;
}

.btn-login:hover{
    background-color: #003a98;
    color: white;
    transition: all .5s ease-in-out;
    border: none;
}

.btn-cadastro{
    width: 91%;
    margin: 10px;
    padding: 16px 0px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #001f51;
    font-size: 12pt;
    font-weight: bold;
}

.btn-cadastro:hover{
    background-color: #003a98;
    color: white;
    transition: all .5s;
    border: none;
}